$flaticon_mycollection-font: "flaticon_mycollection";

@font-face {
    font-family: $flaticon_mycollection-font;
    src: url("./flaticon_mycollection.ttf?2331b9a5d8fce98ed0946750c62c7228") format("truetype"),
url("./flaticon_mycollection.woff?2331b9a5d8fce98ed0946750c62c7228") format("woff"),
url("./flaticon_mycollection.woff2?2331b9a5d8fce98ed0946750c62c7228") format("woff2"),
url("./flaticon_mycollection.eot?2331b9a5d8fce98ed0946750c62c7228#iefix") format("embedded-opentype"),
url("./flaticon_mycollection.svg?2331b9a5d8fce98ed0946750c62c7228#flaticon_mycollection") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_mycollection !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon_mycollection-map: (
    "facebook-app-symbol": "\f101",
    "twitter": "\f102",
    "linkedin": "\f103",
    "vimeo": "\f104",
    "instagram": "\f105",
    "heart": "\f106",
    "user-interface": "\f107",
    "user": "\f108",
    "checked": "\f109",
    "text": "\f10a",
    "mail": "\f10b",
    "credit-card": "\f10c",
    "car": "\f10d",
    "down-arrow": "\f10e",
    "google-play": "\f10f",
    "add-image": "\f110",
    "down": "\f111",
    "image": "\f112",
    "help": "\f113",
    "right-arrow": "\f114",
    "user-1": "\f115",
    "login": "\f116",
    "play-button": "\f117",
    "globe": "\f118",
    "down-1": "\f119",
    "file": "\f11a",
    "car-1": "\f11b",
    "increasing-stocks-graphic": "\f11c",
    "headphones": "\f11d",
    "chat": "\f11e",
    "chat-1": "\f11f",
    "security": "\f120",
    "paper-plane": "\f121",
    "eye": "\f122",
    "route": "\f123",
    "right-arrow-1": "\f124",
    "left-arrow": "\f125",
    "plus": "\f126",
    "add": "\f127",
    "search": "\f128",
    "filter": "\f129",
    "filter-1": "\f12a",
    "line": "\f12b",
    "trash-can": "\f12c",
    "shopping-card": "\f12d",
    "person": "\f12e",
    "flag": "\f12f",
    "facebook": "\f130",
);

.flaticon-facebook-app-symbol:before {
    content: map-get($flaticon_mycollection-map, "facebook-app-symbol");
}
.flaticon-twitter:before {
    content: map-get($flaticon_mycollection-map, "twitter");
}
.flaticon-linkedin:before {
    content: map-get($flaticon_mycollection-map, "linkedin");
}
.flaticon-vimeo:before {
    content: map-get($flaticon_mycollection-map, "vimeo");
}
.flaticon-instagram:before {
    content: map-get($flaticon_mycollection-map, "instagram");
}
.flaticon-heart:before {
    content: map-get($flaticon_mycollection-map, "heart");
}
.flaticon-user-interface:before {
    content: map-get($flaticon_mycollection-map, "user-interface");
}
.flaticon-user:before {
    content: map-get($flaticon_mycollection-map, "user");
}
.flaticon-checked:before {
    content: map-get($flaticon_mycollection-map, "checked");
}
.flaticon-text:before {
    content: map-get($flaticon_mycollection-map, "text");
}
.flaticon-mail:before {
    content: map-get($flaticon_mycollection-map, "mail");
}
.flaticon-credit-card:before {
    content: map-get($flaticon_mycollection-map, "credit-card");
}
.flaticon-car:before {
    content: map-get($flaticon_mycollection-map, "car");
}
.flaticon-down-arrow:before {
    content: map-get($flaticon_mycollection-map, "down-arrow");
}
.flaticon-google-play:before {
    content: map-get($flaticon_mycollection-map, "google-play");
}
.flaticon-add-image:before {
    content: map-get($flaticon_mycollection-map, "add-image");
}
.flaticon-down:before {
    content: map-get($flaticon_mycollection-map, "down");
}
.flaticon-image:before {
    content: map-get($flaticon_mycollection-map, "image");
}
.flaticon-help:before {
    content: map-get($flaticon_mycollection-map, "help");
}
.flaticon-right-arrow:before {
    content: map-get($flaticon_mycollection-map, "right-arrow");
}
.flaticon-user-1:before {
    content: map-get($flaticon_mycollection-map, "user-1");
}
.flaticon-login:before {
    content: map-get($flaticon_mycollection-map, "login");
}
.flaticon-play-button:before {
    content: map-get($flaticon_mycollection-map, "play-button");
}
.flaticon-globe:before {
    content: map-get($flaticon_mycollection-map, "globe");
}
.flaticon-down-1:before {
    content: map-get($flaticon_mycollection-map, "down-1");
}
.flaticon-file:before {
    content: map-get($flaticon_mycollection-map, "file");
}
.flaticon-car-1:before {
    content: map-get($flaticon_mycollection-map, "car-1");
}
.flaticon-increasing-stocks-graphic:before {
    content: map-get($flaticon_mycollection-map, "increasing-stocks-graphic");
}
.flaticon-headphones:before {
    content: map-get($flaticon_mycollection-map, "headphones");
}
.flaticon-chat:before {
    content: map-get($flaticon_mycollection-map, "chat");
}
.flaticon-chat-1:before {
    content: map-get($flaticon_mycollection-map, "chat-1");
}
.flaticon-security:before {
    content: map-get($flaticon_mycollection-map, "security");
}
.flaticon-paper-plane:before {
    content: map-get($flaticon_mycollection-map, "paper-plane");
}
.flaticon-eye:before {
    content: map-get($flaticon_mycollection-map, "eye");
}
.flaticon-route:before {
    content: map-get($flaticon_mycollection-map, "route");
}
.flaticon-right-arrow-1:before {
    content: map-get($flaticon_mycollection-map, "right-arrow-1");
}
.flaticon-left-arrow:before {
    content: map-get($flaticon_mycollection-map, "left-arrow");
}
.flaticon-plus:before {
    content: map-get($flaticon_mycollection-map, "plus");
}
.flaticon-add:before {
    content: map-get($flaticon_mycollection-map, "add");
}
.flaticon-search:before {
    content: map-get($flaticon_mycollection-map, "search");
}
.flaticon-filter:before {
    content: map-get($flaticon_mycollection-map, "filter");
}
.flaticon-filter-1:before {
    content: map-get($flaticon_mycollection-map, "filter-1");
}
.flaticon-line:before {
    content: map-get($flaticon_mycollection-map, "line");
}
.flaticon-trash-can:before {
    content: map-get($flaticon_mycollection-map, "trash-can");
}
.flaticon-shopping-card:before {
    content: map-get($flaticon_mycollection-map, "shopping-card");
}
.flaticon-person:before {
    content: map-get($flaticon_mycollection-map, "person");
}
.flaticon-flag:before {
    content: map-get($flaticon_mycollection-map, "flag");
}
.flaticon-facebook:before {
    content: map-get($flaticon_mycollection-map, "facebook");
}
